body {
  background: #c2cde1;
  font-family: "Nunito", sans-serif;
}

#navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: white;
}

#navbar .nav-link:hover {
  color: burlywood;
}

#navbar .navbar-brand {
  color: aqua;
  font-size: 1.5rem;
}

#title-head {
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  #title-head h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
