h1 {
  text-align: center;
}

p {
  text-align: left;
  font-weight: 100;
  line-height: normal;
}

a {
  text-decoration: none;
}

div {
  width: 400;
  height: 300px;
  margin: 50px auto;
  background-color: blue;
  border-radius: 20px;
}
